---
title: about:debugging
---

{% include header.html %}

<script data-main="js/about-debugging" src="{{ site.baseurl }}/js/lib/require.js"></script>

{% include navbar.html %}

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 graph-header text-center">
        <h4>about:debugging</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-about-debugging-opened-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div id="devtools-about-debugging-opened-chart-legend"></div>
            <div id="devtools-about-debugging-opened-chart-progress"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-about-debugging-opened-per-user-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <div id="devtools-about-debugging-opened-per-user-chart-legend"></div>
            <div id="devtools-about-debugging-opened-per-user-chart-progress"></div>
            <p>
              <mark>[1]</mark> On March 10th 2016 The DevRel team posted the article
              <a href="https://hacks.mozilla.org/2016/03/debugging-service-workers-and-push-with-firefox-devtools/">Debugging Service Workers and Push with Firefox DevTools</a>.
            </p>
            <p>
              <mark>[2]</mark> On April 30th 2016 the DevTools team posted the article
              <a href="https://hacks.mozilla.org/2016/04/developer-edition-48-firebug-features-editable-storage-inspector-improvements-and-more/">Developer Edition 48 – Firebug features, editable storage, inspector improvements and more…</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <p>&nbsp;</p>
    </div>

    <div class="row">
      <div class="col-md-12 graph-header text-center">
        <h4>about:debugging time spent</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 graph-body">
        <div class="text-center" id="devtools-about-debugging-time-active-chart"></div>
      </div>
      <div class="col-md-4 col-md-offset-4 text-center">
        <div id="devtools-about-debugging-time-active-chart-legend"></div>
        <div id="devtools-about-debugging-time-active-chart-progress"></div>
      </div>
    </div>

  </div>

{% include footer.html %}
