---
title: DevTools Dashboard
---

{% include header.html %}

<script data-main="js/index" src="{{ site.baseurl }}/js/lib/require.js"></script>

{% include navbar.html %}

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 graph-header text-center">
        <h4>Toolbox Opened</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-toolbox-opened-chart"></div>
            <div id="devtools-toolbox-opened-chart-progress"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 graph-legend">
            <div class="text-center" id="devtools-toolbox-opened-chart-legend"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-toolbox-opened-per-user-chart"></div>
            <div id="devtools-toolbox-opened-per-user-chart-progress"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 graph-legend">
            <div class="text-center" id="devtools-toolbox-opened-per-user-chart-legend"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-toolbox-opened-ratio-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 graph-legend">
            <div class="text-center" id="devtools-toolbox-opened-ratio-chart-legend"></div>
            <p>This chart is not currently functioning</p>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <p>&nbsp;</p>
    </div>

    <div class="row">
      <div class="col-md-12 graph-header text-center">
        <h4>Toolbox Time Spent</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 graph-body">
        <div class="text-center" id="devtools-toolbox-time-active-chart"></div>
      </div>
      <div class="col-md-4 col-md-offset-4 graph-legend">
        <div id="devtools-toolbox-time-active-chart-legend"></div>
        <div id="devtools-toolbox-time-active-chart-progress"></div>
        <p>Over a rolling 6 months this chart shows the amount of time spent (y axis)
          with the DevTools toolbox opened and the release.  Size of the circles indicates the
          number of users reporting that time slot.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 graph-header text-center">
        <h4>DevTools Panels (Beta Channel Only)</h4>
      </div>
    </div>

    <!-- All Panels Compared  -->
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-toolbox-panels-opened-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 graph-legend">
            <div id="devtools-toolbox-panels-opened-chart-legend"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-toolbox-panels-time-active-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 graph-legend">
            <div id="devtools-toolbox-panels-time-active-chart-legend"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% include footer.html %}
