---
title: DevTools Dashboard
---

{% include header.html %}

<script data-main="js/index" src="{{ site.baseurl }}/js/lib/require.js"></script>

{% include navbar.html %}

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 graph-header text-center">
        <h3>Toolbox Opened</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-toolbox-opened-chart"></div>
            <div id="devtools-toolbox-opened-chart-progress"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 graph-legend text-center">
            <div id="devtools-toolbox-opened-chart-legend"></div>
            <p>&nbsp;</p>
            <p>
              DevTools is transitioning to the new metric <code>DEVTOOLS_TOOLBOX_OPENED_COUNT</code>, which records the
              number of times a user opens the toolbox per day.  Previously DevTools was using the metric
              <code>DEVTOOLS_TOOLBOX_OPENED_BOOLEAN</code> which only captured the toolbox being opened once per user, per day.
              As the rollout of the new metric continues this graph will shift over time and have certain releases missing.
              Also note that the new metric has been changed to opt-out for release so those numbers will also shift as
              it rolls out into the full release population.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-toolbox-opened-per-user-chart"></div>
            <!-- <div id="devtools-toolbox-opened-per-user-chart-progress"></div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 graph-legend text-center">
            <div id="devtools-toolbox-opened-per-user-chart-legend"></div>
            <p>&nbsp;</p>
            <p>
              The <code>DEVTOOLS_TOOLBOX_OPENED_PER_USER_FLAG</code> will become opt-out for release when
              <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1250171">bug 1250171</a> is fixed, however until
              that time the release (not pre-release) numbers will remain highly inaccurate.
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 graph-body">
            <div id="devtools-toolbox-engagement-ratio-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 graph-legend text-center">
            <div id="devtools-toolbox-engagement-ratio-chart-legend"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <p>&nbsp;</p>
    </div>

    <div class="row">
      <div class="col-md-12 graph-header text-center">
        <h3>Toolbox Time Spent</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 graph-body">
        <div class="text-center" id="devtools-toolbox-time-active-chart"></div>
      </div>
      <div class="col-md-6 col-md-offset-3 graph-legend">
        <div id="devtools-toolbox-time-active-chart-legend"></div>
        <div id="devtools-toolbox-time-active-chart-progress"></div>
        <p>Over a rolling 6 months this chart shows the amount of time spent (y axis)
          with the DevTools toolbox opened and the release.  Size of the circles indicates the
          number of users reporting that time slot.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 graph-header text-center">
        <h3>More Graphs</h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><a href="panels.html">Panels</a></h4>
            <ul>
              <li>Inspector</li>
              <li>Console</li>
              <li>Debugger</li>
              <li>Performance</li>
              <li>Storage</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><a href="reload.html">DevTools Reload</a></h4>
            <ul>
              <li>Reload Add-on Installs</li>
              <li>Reload Add-on Usage</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><a href="env.html">Environment</a></h4>
            <ul>
              <li>Operating System</li>
              <li>Screen Resolution (coming soon)</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><a href="tilt.html">Tilt</a></h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><a href="about-debugging.html">about:debugging</a></h4>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><a href="reload.html">Reload Add-On</a></h4>
          </div>
        </div>
      </div>

    </div>

  </div>

{% include footer.html %}
