
  <div class="container-fluid">

    <div class="clearfix">
      <h1>&nbsp;</h1>
    </div>

    <div class="jumbotron">
      <p class="lead">
        These metrics are to be used as a guide only,
        when making decisions please always double check with other sources for verification.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="https://github.com/clarkbw/devtools-metrics" role="button">Source Code on Gitub</a>
        <a class="btn btn-primary btn-lg pull-right" href="https://telemetry.mozilla.org" role="button">Mozilla Telemetry</a>
      </p>
    </div>
  </div>

  <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
          crossorigin="anonymous"></script> -->

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
        rel="stylesheet"
        integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+"
        crossorigin="anonymous">
</body>
</html>
